<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="org.LucasBadhuscaTyalt.Royalt-Musica">
    <name>Royalt-Musica Livre</name>
    <description>
        O app Royalt-Musica tem como foco o compartilhamento de musica, 
		O app Royalt-Musica tem como foco o compartilhamento de musica, 
		O app Royalt-Musica tem como foco o compartilhamento de musica 
    </description>
    <author>
        Lucas Badhusca Alves
    </author>
    <icon src="logom.png"/>
    <gap:splash src="telacarreR.png"/>
</widget>
